<div [ngClass]="{'hidden': ![2, 6].includes(pageStatus)}"
     class="progress">
  <div class="progress-bar indeterminate"></div>
</div>
<div class="content m-3">
  <div class="d-flex align-items-center mb-3">
    <s3gw-page-title></s3gw-page-title>
    <div class="flex-fill"></div>
    <s3gw-page-actions [actions]="actions"></s3gw-page-actions>
  </div>
  <s3gw-alert-panel *ngIf="pageStatus === 3"
                    type="danger">
    {{ loadingErrorText! | transloco }}
  </s3gw-alert-panel>
  <s3gw-alert-panel *ngIf="pageStatus === 5"
                    type="danger">
    {{ savingErrorText! | transloco }}
  </s3gw-alert-panel>
  <div *ngIf="![2].includes(pageStatus)">
    <ng-content></ng-content>
  </div>
</div>

