@use 'src/scss/defaults/colors' as dc;

li {
  cursor: pointer;

  a,
  a:hover {
    color: dc.$s3gw-color-menu-item-text;
  }

  &:hover {
    background-color: dc.$s3gw-color-menu-item-hover-background;
  }

  &.selected {
    background-color: dc.$s3gw-color-menu-item-selected-background;

    a,
    a:hover {
      color: dc.$s3gw-color-menu-item-selected-text;
    }
  }
}

.rotated {
  transform: rotate(90deg);
}
