.widgets {
  column-count: 1;
  column-gap: 1rem;
}

@media only screen and (width >= 600px) {
  .widgets {
    column-count: 2;
  }
}

@media only screen and (width >= 1280px) {
  .widgets {
    column-count: 3;
  }
}

@media only screen and (width >= 1920px) {
  .widgets {
    column-count: 4;
  }
}
