.card {
  background-color: var(--bs-body-bg);
  break-inside: avoid;
  // Work-around a bug in Firefox where widgets are broken even if
  // `break-inside: avoid` is set.
  // https://stackoverflow.com/a/67873739
  overflow: hidden;

  .progress {
    background-color: inherit;
    height: 0.25rem;
  }

  &.error,
  &.loading {
    height: 5.75rem;
  }

  &.error {
    background-color: var(--bs-danger);
    color: var(--bs-white);
  }

  &.loading {
    cursor: wait;
  }

  &:hover {
    border-color: var(--bs-link-color);
  }
}
