<div class="card mb-3"
     [title]="tooltip"
     [ngClass]="{'loading': !firstLoadComplete && loading, 'error': error, 's3gw-cursor-pointer': url}">
  <div *ngIf="!firstLoadComplete && loading"
       class="progress">
    <div class="progress-bar indeterminate"></div>
  </div>
  <div class="card-body">
    <div *ngIf="title"
         class="card-title text-truncate">
      {{ title | transloco }}
      <hr>
    </div>
    <div *ngIf="!error && firstLoadComplete"
         class="card-content">
      <ng-content></ng-content>
    </div>
    <div *ngIf="error && !loading"
         class="d-flex h-100 justify-content-center align-items-center">
      <i class="mdi mdi-lan-disconnect"></i>
    </div>
  </div>
</div>
