@use 'scss/defaults/colors' as dc;

.card {
  border-width: 0;
  break-inside: avoid;

  .progress {
    height: 0.25rem;
  }

  &.error, &.loading {
    height: 5.75rem;
  }

  &.error {
    background-color: dc.$s3gw-color-error;
    color: dc.$s3gw-color-white;
  }

  &.loading {
    animation: skeleton-loading 1s linear infinite alternate;
    cursor: wait;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: dc.$s3gw-color-cultured;
  }
  100% {
    // https://colordesigner.io/gradient-generator
    background-color: #fafbfb;
  }
}
