<div ngbDropdown>
  <button class="btn btn-simple text-decoration-none"
          ngbDropdownToggle>
    <i *ngIf="type === 'icon'"
       class="mdi mdi-earth">
    </i>
    <span *ngIf="type === 'text'">{{ languages[currentLanguage] }}</span>
  </button>
  <div ngbDropdownMenu>
    <button *ngFor="let language of languages | keyvalue"
            ngbDropdownItem
            [ngClass]="{'active': language.key === currentLanguage}"
            (click)="onSelectLanguage(language.key)">
      {{ language.value }}
    </button>
  </div>
</div>
