<s3gw-page-status [pageStatus]="pageStatus">
  <div class="s3gw-page-actions">
    <button type="button"
            class="btn"
            (click)="loadData()"
            ngbTooltip="{{ 'Reload' | transloco }}">
      <i [class]="icons.reload"></i>
    </button>
    <div class="vr"></div>
    <button type="button"
            class="btn btn-outline-primary"
            (click)="onAdd()">
      <i [class]="icons.plus"></i>
      {{ "Add Key" | transloco }}
    </button>
  </div>
  <s3gw-datatable [data]="keys"
                  [columns]="columns"
                  [autoReload]="false"
                  (loadData)="loadData()">
  </s3gw-datatable>
</s3gw-page-status>
