@use 'theme/colors' as tc;

.toast-container {
  .ngx-toastr {
    box-shadow: unset;

    &:hover {
      box-shadow: unset;
    }
  }

  &.toast-bottom-center {
    width: 100% !important;
  }
}

.toast-error {
  background-color: tc.$s3gw-color-error;
}

.toast-success {
  background-color: tc.$s3gw-color-success;
}

.toast-info {
  background-color: tc.$s3gw-color-info;
}

.toast-warning {
  background-color: tc.$s3gw-color-warning;
}
