<ngb-alert *ngIf="!noColor"
           [dismissible]="false"
           [type]="bsType">
  <ng-container *ngTemplateOutlet="renderContent"></ng-container>
</ngb-alert>
<ng-container *ngIf="noColor">
  <ng-container *ngTemplateOutlet="renderContent"></ng-container>
</ng-container>

<ng-template #renderContent>
  <div class="d-flex justify-content-start align-items-center overflow-hidden">
    <i [class]="icons[type]"></i>
    <div class="content ms-2">
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
