.prefixes {
  direction: rtl;
  flex-grow: 1;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 0;
}

.prefix-part {
  text-decoration: none;
  cursor: default;

  &:not(.last) {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.expanded-row {
  .placeholder-wrapper {
    column-count: 1;
    column-gap: 0.5rem;

    @media only screen and (min-width: 600px) {
      column-count: 2;
    }

    @media only screen and (min-width: 1280px) {
      column-count: 3;
    }

    @media only screen and (min-width: 1920px) {
      column-count: 4;
    }

    .placeholder {
      min-height: 3.625rem;
    }
  }

  @media only screen and (min-width: 600px) {
    --s3gw-form-column-count: 2;
  }

  @media only screen and (min-width: 1280px) {
    --s3gw-form-column-count: 3;
  }

  @media only screen and (min-width: 1920px) {
    --s3gw-form-column-count: 4;
  }
}
