<s3gw-wrapper-status [actions]="pageActions"
                     [pageStatus]="pageStatus">
  <s3gw-datatable #table
                  selectionType="multi"
                  identifier="Key"
                  [data]="objects"
                  [columns]="datatableColumns"
                  [autoReload]="false"
                  (loadData)="loadData()">
    <s3gw-datatable-actions [actions]="datatableActions"
                            [table]="table">
    </s3gw-datatable-actions>
  </s3gw-datatable>
</s3gw-wrapper-status>
