<s3gw-page-wrapper [actions]="pageActions"
                   [pageStatus]="pageStatus">
  <s3gw-datatable #table
                  selectionType="multi"
                  identifier="Key"
                  stateId="user_objects"
                  [data]="objects"
                  [columns]="datatableColumns"
                  [autoReload]="false"
                  [hasExpandableRows]="true"
                  [isExpandableRow]="isExpandableRow()"
                  (expandedRowsChange)="onExpandedRowsChange($event)"
                  (rowSelection)="onRowSelection($event)"
                  (loadData)="loadData()">
    <s3gw-datatable-actions [actions]="datatableActions"
                            [table]="table">
    </s3gw-datatable-actions>
    <s3gw-datatable-custom-top>
      <div class="border d-flex flex-row align-items-center">
        <button type="button"
                class="btn btn-light rounded-0"
                (click)="prefixParts.length && onPrefixSelect(-1)">
          <i [class]="icons.chevronLeft"></i>
        </button>
        <a class="prefix-part ms-2"
           [ngbTooltip]="bid"
           (click)="prefixParts.length && onPrefixSelect(0)">
          <i [class]="icons.home"></i>
        </a>
        <span *ngIf="prefixParts.length > 0"
              class="delimiter mx-1">
          {{ delimiter }}
        </span>
        <div class="prefixes me-2">
          <ng-container *ngFor="let prefixPart of prefixParts; let index = index; let last = last">
            <a class="prefix-part"
               [ngClass]="{'last': last}"
               (click)="!last && onPrefixSelect(index + 1)">
              <span>{{ prefixPart }}</span>
            </a>
            <span *ngIf="!last"
                  class="delimiter mx-1">
              {{ delimiter }}
            </span>
          </ng-container>
        </div>
        <button type="button"
                class="btn btn-light rounded-0"
                title="{{ 'Copy to clipboard' | transloco }}"
                (click)="onCopyPrefixToClipboard()">
          <i [class]="icons.copy"></i>
        </button>
      </div>
    </s3gw-datatable-custom-top>
    <ng-template s3gw-datatable-expanded-row-template
                 let-row="row">
      <div class="expanded-row m-3">
        <div class="title h3">{{ 'Details' | transloco }}</div>
        <div *ngIf="loadingObjectAttrsKeys.includes(row.Key)"
             class="placeholder-wrapper placeholder-glow">
          <div *ngForTimes="expandedRowFormConfig.fields.length"
               class="placeholder rounded w-100 mb-2">
          </div>
        </div>
        <s3gw-declarative-form *ngIf="!loadingObjectAttrsKeys.includes(row.Key)"
                               [config]="expandedRowFormConfig"
                               [initValues]="objectAttrsCache[row.Key]">
        </s3gw-declarative-form>
      </div>
    </ng-template>
  </s3gw-datatable>
</s3gw-page-wrapper>

<ng-template #nameColumnTpl
             let-value="value"
             let-row="row">
  <i *ngIf="'OBJECT' === row.Type"
     class="text-primary"
     [class]="icons.file">
  </i>
  <i *ngIf="'FOLDER' === row.Type"
     class="text-primary"
     [class]="icons.folder">
  </i>
  <span class="ms-1"
        [title]="value">
    {{ value }}
  </span>
</ng-template>
