.s3gw-not-found-page {
  // ToDo...
  //  background-color: hsla(
  //    hue($s3gw-color-navy),
  //    saturation($s3gw-color-navy),
  //    lightness($s3gw-color-navy),
  //    0.6
  //  );
  //  background-image: url('^./assets/images/xxxxx.jpg');
  //  background-blend-mode: multiply;
  //  background-size: cover;
  //  background-repeat: no-repeat;
  //  background-position: center center;
  //  color: $s3gw-color-white;

  .logo {
    // ToDo...
    //    background-image: url('^./assets/images/xxxxx.svg');
    //    background-repeat: no-repeat;
    //    background-size: contain;
    //    margin-bottom: 1rem;
    //    height: 3rem;
    //    width: 12rem;
  }
}
