<div class="datatable-header">
  <div class="datatable-primary-header mb-3">
    <div class="datatable-actions-container d-flex flex-row align-items-center justify-content-start">
      <ng-content class="custom"
                  select="s3gw-datatable-actions">
      </ng-content>
      <div class="flex-fill"></div>
      <div #columnDropDown="ngbDropdown"
           ngbDropdown
           autoClose="outside">
        <button class="btn btn-simple"
                ngbDropdownToggle
                ngbTooltip="{{ 'Show/Hide columns' | transloco }}">
          <i [class]="icons.table"></i>
        </button>
        <div ngbDropdownMenu>
          <ng-template [ngIf]="columnDropDown.isOpen()">
            <button *ngFor="let column of columns | filter:'name'"
                    ngbDropdownItem
                    [disabled]="isColumnDropDownItemDisabled(column)"
                    (click)="onToggleColumn(column)">
              <i *ngIf="column.hidden"
                 [class]="icons.checkboxBlank">
              </i>
              <i *ngIf="!column.hidden"
                 [class]="icons.checkboxMarked">
              </i>
              <span>{{ column.name | transloco }}</span>
            </button>
          </ng-template>
        </div>
      </div>
      <button type="button"
              class="reload btn btn-simple"
              (click)="reloadData()"
              ngbTooltip="{{ 'Reload' | transloco }}">
        <i [class]="icons.reload"></i>
      </button>
      <div *ngIf="hasSearchField"
           class="search input-group">
        <!--
        <div class="input-group-text">
          <i class="mdi-18px"
             [class]="icons.search">
          </i>
        </div>
        -->
        <input class="form-control"
               type="search"
               placeholder="{{ 'Search' | transloco }}"
               [value]="searchFilter"
               (input)="onSearchFilterChange($event)">
        <button type="button"
                class="btn btn-input-group"
                ngbTooltip="{{ 'Clear' | transloco }}"
                (click)="clearSearchFilter()">
          <i class="mdi-18px"
             [class]="icons.clear">
          </i>
        </button>
      </div>
    </div>
  </div>
  <div class="datatable-secondary-header mb-3">
    <ng-content select="s3gw-datatable-secondary-header"></ng-content>
  </div>
</div>
<div class="datatable-body">
  <table class="table table-hover border-top border-start border-end">
    <thead class="table-light"
           [ngClass]="{'sticky-top': hasStickyHeader}">
      <tr>
        <th *ngFor="let column of columns"
            class="align-middle overflow-hidden"
            scope="col"
            [width]="column.width"
            [class]="getHeaderClasses(column)"
            [ngStyle]="{'text-align': !column?.align ? 'start' : column?.align}"
            [hidden]="column.hidden"
            (click)="onSortChange(column)">
          <input *ngIf="selectionType === 'multi' && column.cellTemplateName === 'rowSelect'"
                 class="form-check-input"
                 type="checkbox"
                 [checked]="isAllRowsSelected"
                 (click)="onHeaderSelectRows($event)">
          <div class="d-flex flex-row align-items-center">
            <div *ngIf="column.name">{{ column.name | transloco }}</div>
            <div *ngIf="sortHeader === column.prop"
                 class="sort-icon d-flex flex-column ps-1">
              <i [class]="getHeaderSortClasses('asc')"></i>
              <i [class]="getHeaderSortClasses('desc')"></i>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of displayedData">
        <tr class="align-middle"
            [ngClass]="{'selected': selected.includes(row), 's3gw-cursor-pointer': selectionType !== 'none'}">
          <td *ngFor="let column of columns"
              [class]="column.css"
              [ngStyle]="{'text-align': !column?.align ? 'start' : column?.align}"
              [hidden]="column.hidden"
              (click)="!['actionMenu', 'rowExpandable'].includes(column.cellTemplateName ?? '') ? onSelectRow(row, column) : undefined">
            <ng-template *ngIf="!(column.cellTemplateName || column.cellTemplate)"
                         [ngTemplateOutlet]="defaultTpl"
                         [ngTemplateOutletContext]="{ value: renderCellValue(row, column) }">
            </ng-template>
            <ng-template *ngIf="column.cellTemplate"
                         [ngTemplateOutlet]="column.cellTemplate"
                         [ngTemplateOutletContext]="{ row: row, column: column, value: renderCellValue(row, column),
                         disabled: column.prop ? renderCellDisabled(row, column) : false }">
            </ng-template>
          </td>
        </tr>
        <tr *ngIf="expandedRows.includes(row)"
            @fadeSlideInOutExpandedRow
            class="no-hover">
          <td colspan="100%"
              (click)="onToggleRowExpansion($event, row)">
            <ng-template *ngIf="expandedRowTpl"
                         [ngTemplateOutlet]="expandedRowTpl"
                         [ngTemplateOutletContext]="{ row: row }">
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="datatable-footer">
  <div class="d-flex align-items-center justify-content-start">
    <div *ngIf="selectionType !== 'none'"
         class="text-nowrap mb-3 mt-0">
      {{ selected.length }} {{ 'selected' | transloco }}
    </div>
    <div class="flex-fill"></div>
    <div *ngIf="hasPageSize"
         class="mb-3 mt-0"
         ngbDropdown>
      <button class="btn btn-outline-default mr-2"
              ngbDropdownToggle>
        {{ pageSize + ' ' + ('items per page' | transloco) }}
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem
                (click)="onPageSizeChange(5)">
          {{ "5 items per page" | transloco }}
        </button>
        <button ngbDropdownItem
                (click)="onPageSizeChange(10)">
          {{ "10 items per page" | transloco }}
        </button>
        <button ngbDropdownItem
                (click)="onPageSizeChange(25)">
          {{ "25 items per page" | transloco }}
        </button>
        <button ngbDropdownItem
                (click)="onPageSizeChange(50)">
          {{ "50 items per page" | transloco }}
        </button>
        <button ngbDropdownItem
                (click)="onPageSizeChange(100)">
          {{ "100 items per page" | transloco }}
        </button>
      </div>
    </div>
    <div class="mx-4 mb-3 mt-0 text-nowrap">
      {{ (page - 1) * pageSize + 1 }} - {{ page * pageSize > filteredData.length ? filteredData.length : page * pageSize }} {{ 'of' | transloco }} {{ filteredData.length }}
    </div>
    <ngb-pagination [collectionSize]="filteredData.length"
                    [page]="page"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </div>
</div>

<ng-template #defaultTpl
             let-value="value">
  <span [title]="value">{{ value }}</span>
</ng-template>

<ng-template #rowExpandableTpl
             let-value="value"
             let-row="row">
  <button *ngIf="isExpandableRow?.(row) ?? true"
          class="btn"
          title="{{ value ? 'Collapse' : 'Expand' | transloco }}"
          (click)="onToggleRowExpansion($event, row)">
    <i *ngIf="value"
       [class]="icons.chevronDown">
    </i>
    <i *ngIf="!value"
       [class]="icons.chevronRight">
    </i>
  </button>
</ng-template>

<ng-template #rowSelectTpl
             let-value="value"
             let-row="row"
             let-disabled="disabled">
  <input type="checkbox"
         class="form-check-input s3gw-cursor-pointer"
         [checked]="value"
         [disabled]="disabled">
</ng-template>

<ng-template #yesNoIconTpl
             let-value="value">
  <i *ngIf="value"
     [class]="icons.check">
  </i>
  <i *ngIf="!value"
     [class]="icons.minus">
  </i>
</ng-template>

<ng-template #checkIconTpl
             let-value="value">
  <i *ngIf="value"
     [class]="icons.check">
  </i>
</ng-template>

<ng-template #mapTpl
             let-value="value"
             let-column="column">
  <span>{{ value | map:column.cellTemplateConfig }}</span>
</ng-template>

<ng-template #iconTpl
             let-column="column">
  <i [ngClass]="column.cellTemplateConfig?.class"
     [class]="column.cellTemplateConfig.name">
  </i>
</ng-template>

<ng-template #actionMenuTpl
             let-column="column"
             let-row="row">
  <ng-template [ngTemplateOutlet]="renderActionButton"
               [ngTemplateOutletContext]="{ row: row, items: column.cellTemplateConfig(row) }">
  </ng-template>
</ng-template>

<ng-template #renderActionButton
             let-items="items"
             let-row="row">
  <div ngbDropdown>
    <button *ngIf="items.length"
            class="btn actions"
            title="{{ 'Actions' | transloco }}"
            ngbDropdownToggle>
      <i [class]="icons.dotsVertical">
      </i>
    </button>
    <div ngbDropdownMenu>
      <ng-container *ngFor="let item of items">
        <button *ngIf="item.type !== 'divider'"
                ngbDropdownItem
                class="action"
                [disabled]="item.disabled"
                (click)="item.callback(row)">
          <div class="row">
            <div class="col-1">
              <i *ngIf="item.icon"
                 [class]="item.icon">
              </i>
            </div>
            <div class="col-1">{{ item.title | transloco }}</div>
          </div>
        </button>
        <div *ngIf="item.type === 'divider'"
             class="dropdown-divider">
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #badgeTpl
             let-value="value"
             let-column="column">
  <span *ngFor="let item of (value | array); last as last">
    <span class="badge"
          [ngClass]="(column?.cellTemplateConfig?.map && column?.cellTemplateConfig?.map[item]?.class) ? column.cellTemplateConfig.map[item].class : (column?.cellTemplateConfig?.class ? column.cellTemplateConfig.class : 's3gw-color-theme-gunmetal')"
          *ngIf="(column?.cellTemplateConfig?.map && column?.cellTemplateConfig?.map[item]?.value) ? column.cellTemplateConfig.map[item].value : column?.cellTemplateConfig?.prefix ? column.cellTemplateConfig.prefix + item : item">
      {{ (column?.cellTemplateConfig?.map && column?.cellTemplateConfig?.map[item]?.value) ? column.cellTemplateConfig.map[item].value : column?.cellTemplateConfig?.prefix ? column.cellTemplateConfig.prefix + item : item }}
    </span>
    <span *ngIf="!last">&nbsp;</span>
  </span>
</ng-template>

<ng-template #localeDateTimeTpl
             let-value="value">
  <span>{{ value | localeDate:'datetime' }}</span>
</ng-template>

<ng-template #buttonTpl
             let-column="column"
             let-row="row">
  <button type="button"
          class="btn"
          [class]="column.cellTemplateConfig?.class"
          [routerLink]="column.cellTemplateConfig?.url | format:row">
    {{ column.cellTemplateConfig?.text }}
  </button>
</ng-template>

<ng-template #binaryUnitTpl
             let-value="value">
  <span>{{ value | bytesToSize }}</span>
</ng-template>

<ng-template #copyToClipboardTpl
             let-column="column"
             let-value="value">
  <ng-container *ngIf="value">
    <span [title]="value">{{ value }}</span>
    <i class="mdi-18px s3gw-cursor-pointer ms-1"
       [class]="icons.copy"
       title="{{ 'Copy to clipboard' | transloco }}"
       (click)="onCopyToClipboard($event, value, column)">
    </i>
  </ng-container>
</ng-template>

<ng-template #maskedTpl
             let-column="column"
             let-value="value">
  <ng-container *ngIf="value">
    <span [title]="value">{{ value | mask:'*':true }}</span>
    <i class="mdi-18px s3gw-cursor-pointer ms-1"
       [class]="icons.copy"
       title="{{ 'Copy to clipboard' | transloco }}"
       (click)="onCopyToClipboard($event, value, column)">
    </i>
  </ng-container>
</ng-template>
