@use 'theme/colors' as tc;

li {
  background-color: var(--s3gw-navbar-item-bg);
  color: var(--s3gw-navbar-item-color);
  cursor: pointer;

  a {
    color: unset;
  }

  &:hover {
    background-color: var(--s3gw-navbar-item-hover-bg);
    color: var(--s3gw-navbar-item-hover-color);
  }

  &.selected {
    background-color: var(--s3gw-navbar-item-selected-bg);
    color: var(--s3gw-navbar-item-selected-color);
  }

  &:hover, &.selected {
    border-right: 4px solid var(--s3gw-navbar-item-border-color);
  }
}
