<li [ngbNavItem]="item.text"
    [routerLink]="item.url"
    [ngStyle]="{'padding-left': (depth * 1.5) + 'rem'}"
    (click)="itemClicked(item)"
    [routerLinkActiveOptions]="{exact: false}"
    routerLinkActive="selected"
    ngbNav>
  <a class="w-100 d-flex flex-row"
     ngbNavLink>
    <i [class]="item.icon"></i>
    {{ item.text | transloco }}
    <i *ngIf="item.children && item.children.length"
       class="w-100 d-flex justify-content-end"
       [class]="item.expanded ? icons.chevronUp : icons.chevronDown">
    </i>
  </a>
</li>
<div *ngIf="item.expanded">
  <s3gw-navigation-bar-item *ngFor="let child of item.children"
                            [item]="child"
                            [depth]="depth + 1">
  </s3gw-navigation-bar-item>
</div>
