@use 'theme/variables' as tv;

.main-layout {
  background-color: var(--s3gw-main-layout-bg, var(--bs-body-bg));
  display: grid;
  grid-template-areas: 'header header' 'navigation main' 'footer footer';
  grid-template-columns: tv.$s3gw-navigation-width auto;
  grid-template-rows: tv.$s3gw-site-header-height auto 0;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  transition: grid-template-columns 0.3s;

  header {
    border-bottom: 1px solid var(--bs-border-color);
    display: flex;
    grid-area: header;
  }

  aside {
    display: flex;
    overflow-y: auto;

    &.navigation {
      border-right: 1px solid var(--bs-border-color);
      grid-area: navigation;
    }

    &.notifications {
      border-width: 1px;
      border-style: solid;
      border-color: var(--bs-border-color);
      position: fixed;
      bottom: 0;
      width: tv.$s3gw-notifications-width;
      right: tv.$s3gw-notifications-width * -1;
      top: calc(#{tv.$s3gw-site-header-height} - 1px);
      transition: right 0.3s;
      z-index: 1021; // Must be > than Bootstraps $zindex-sticky

      &.visible {
        right: 0;
      }
    }
  }

  &.collapsed {
    grid-template-columns: 0 auto;
  }

  main {
    display: block;
    grid-area: main;
    overflow-y: auto;
    background-color: var(--s3gw-main-layout-main-bg, var(--bs-body-bg));
    margin: var(--s3gw-main-layout-main-margin, unset);
  }

  footer {
    grid-area: footer;
    overflow-y: hidden;
    z-index: 1;
  }
}
