@use 'src/scss/defaults/variables' as dv;

:host {
  background-color: var(--bs-body-bg);
  width: 100%;
  height: 100%;
}

.toolbar {
  border-bottom: 1px solid var(--bs-border-color);
  height: dv.$s3gw-site-header-height;
}
