<div *ngIf="config.title"
     class="modal-header">
  <div class="modal-title">
    {{ config.title | transloco }}
  </div>
</div>
<div class="modal-body d-flex justify-content-start align-items-center overflow-hidden">
  <i *ngIf="iconClass"
     [class]="iconClass">
  </i>
  <div class="message ms-2">
    <span [innerHTML]="config.message | transloco"></span>
  </div>
</div>
<div class="modal-footer">
  <button *ngIf="button2Visible"
          type="button"
          class="btn"
          [class]="button2Class"
          (click)="onButtonClick(button2Result)">
    {{ button2Text | transloco }}
  </button>
  <button *ngIf="button1Visible"
          type="button"
          class="btn"
          [class]="button1Class"
          (click)="onButtonClick(button1Result)">
    {{ button1Text | transloco }}
  </button>
</div>
