th.sortable {
  cursor: pointer;
}

td {
  .dropdown-toggle {
    text-decoration: none;

    &:focus {
      box-shadow: none;
    }

    &::after {
      display: none;
    }
  }
}

::ng-deep ngb-pagination {
  .pagination {
    margin-bottom: 0;
  }
}
