@use 'src/scss/defaults/colors' as dc;

th.sortable {
  cursor: pointer;
}

td {
  .dropdown-toggle {
    text-decoration: none;

    &:focus {
      box-shadow: none;
    }

    &::after {
      display: none;
    }

    &.btn:hover,
    &.btn:focus {
      background-color: rgba(dc.$s3gw-color-magical-merlin, 0.15);
    }
  }
}

tbody > tr {
  &.selected {
    background-color: dc.$s3gw-color-table-selected-background;

    &:hover > * {
      --bs-table-accent-bg: dc.$s3gw-color-table-selected-background;
    }
  }
}

.actions {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;

  .search {
    &.input-group {
      width: inherit;
      flex-wrap: nowrap;
    }

    .btn.btn-input-group {
      --bs-btn-border-color: var(--bs-gray-400);
    }
  }
}

.dropdown-menu {
  .dropdown-item.action {
    --bs-dropdown-link-color: var(--bs-primary);
    --bs-dropdown-link-hover-color: var(--bs-white);
    --bs-dropdown-link-hover-bg: var(--bs-primary);
  }
}
