@use 'src/scss/defaults/fonts' as df;
@use 'src/scss/defaults/variables' as dv;

$navigation-width: 15rem;

.main-layout {
  .navigation {
    background-color: var(--bs-body-bg);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--bs-border-color);
    height: 100%;
    left: 0;
    margin-left: 0;
    max-width: $navigation-width;
    min-width: $navigation-width;
    position: fixed;
    top: 0;
    transition: all 0.3s;

    header {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--bs-border-color);
      height: dv.$s3gw-site-header-height;

      .logo {
        background-image: url('/assets/images/logo.svg');
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 2rem;
        width: 2rem;
      }

      .title {
        font-family: df.$s3gw-font-family-headings;
        font-size: 1.5rem;
        font-weight: lighter;
      }
    }
  }

  .main {
    margin-left: $navigation-width;
    transition: all 0.3s;

    header {
      overflow-x: clip;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1030;
    }
  }

  &.navigation-collapsed {
    .navigation {
      margin-left: -$navigation-width;
    }

    .main {
      margin-left: 0;
    }
  }
}
