@import 'styles.scss';

$navigation-width: 15rem;

.s3gw-main-layout {
  .navigation {
    background-color: $s3gw-color-menu-background;
    height: 100%;
    left: 0;
    margin-left: 0;
    max-width: $navigation-width;
    min-width: $navigation-width;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    z-index: 1000;

    header {
      color: $s3gw-color-site-header-text;
      background-color: $s3gw-color-site-header-background;
      height: $s3gw-site-header-height;

      .logo {
        background-image: url('/assets/images/logo.svg');
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 2rem;
        width: 2rem;
      }

      .title {
        font-family: $s3gw-font-family-headings;
        font-size: 1.5rem;
        font-weight: lighter;
      }
    }
  }

  .main {
    margin-left: $navigation-width;
    transition: all 0.3s;

    header {
      overflow-x: clip;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1030;
    }
  }

  &.navigation-collapsed {
    .navigation {
      margin-left: -$navigation-width;
    }

    .main {
      margin-left: 0;
    }
  }
}
