@use 'src/scss/defaults/variables' as dv;

$navigation-width: 230px;

.main-layout {
  display: grid;
  grid-template-areas: 'header header' 'sidebar main' 'footer footer';
  grid-template-columns: $navigation-width auto;
  grid-template-rows: dv.$s3gw-site-header-height auto 0;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  transition: grid-template-columns 0.3s;

  header {
    display: flex;
    grid-area: header;
    z-index: 1000;
  }

  aside {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--bs-border-color);
    display: flex;
    grid-area: sidebar;
    overflow-y: auto;
  }

  &.collapsed {
    grid-template-columns: 0 auto;
  }

  main {
    display: block;
    grid-area: main;
    overflow-y: auto;
  }

  footer {
    grid-area: footer;
    overflow-y: hidden;
    z-index: 1;
  }
}
