@use 'theme/colors' as tc;
@use 'theme/variables' as tv;

.wrapper {
  height: tv.$s3gw-site-header-height;
  color: var(--s3gw-topbar-color);
  background-color: var(--s3gw-topbar-bg);

  .navigation-actions {
    color: var(--s3gw-topbar-action-btn-color);
    background-color: var(--s3gw-topbar-navigation-bg);
    width: tv.$s3gw-navigation-width;

    .btn {
      &.toggle {
        border-width: 0;
        color: var(--s3gw-topbar-toggle-btn-color);
        background-color: var(--s3gw-topbar-toggle-btn-bg);
        height: 100%;

        &:focus,
        &:hover {
          background-color: var(--s3gw-topbar-toggle-btn-hover-bg);
        }
      }
    }

    .logo {
      img {
        height: 2rem;
      }
    }
  }

  .actions,
  .actions .btn {
    color: var(--s3gw-topbar-action-btn-color);
  }

  .actions .btn {
    &:focus,
    &:hover {
      color: var(--s3gw-topbar-action-btn-hover-color);
    }

    .mdi::before {
      font-size: var(--s3gw-topbar-action-btn-icon-font-size);
      top: var(--s3gw-topbar-action-btn-icon-top);
    }
  }
}
