@use 'src/scss/defaults/colors' as dc;
@use 'src/scss/defaults/fonts' as df;

.wrapper {
  .btn {
    color: var(--bs-body-color);

    &.toggle {
      height: 100%;
    }

    &.toggle:hover {
      background-color: dc.$s3gw-color-menu-item-selected-background;
    }
  }

  .logo {
    background-image: url('/assets/images/logo.svg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 2rem;
    width: 2rem;
  }

  .title {
    font-family: df.$s3gw-font-family-headings;
    font-size: 1.5rem;
    font-weight: lighter;
  }
}
