@use 'src/scss/defaults/variables' as dv;

.s3gw-top-bar {
  background-color: var(--bs-body-bg);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--bs-border-color);
  height: dv.$s3gw-site-header-height;

  .btn {
    color: var(--bs-body-color);
  }
}
