<div class="wrapper h-100 d-flex flex-row justify-content-start align-items-center">
  <button class="btn btn-simple rounded-0 toggle"
          title="{{ 'Toggle navigation' | transloco }}"
          (click)="onToggleNavigation()">
    <i class="mdi mdi-menu"></i>
  </button>
  <div class="logo ms-2"></div>
  <div class="title ms-2">s3gw</div>
  <div class="flex-fill"></div>
  <div ngbDropdown>
    <button class="btn btn-simple"
            title="{{ 'Help' | transloco }}"
            ngbDropdownToggle>
      <i [class]="icons.help"></i>
    </button>
    <div ngbDropdownMenu>
      <a ngbDropdownItem
         href="https://aquarist-labs.io/s3gw/"
         target="_blank">
        <div>
          <i class="mdi mdi-web mr-1"></i>
          <span>{{ "Website" | transloco }}</span>
        </div>
      </a>
      <a ngbDropdownItem
         href="https://github.com/aquarist-labs/s3gw"
         target="_blank">
        <div>
          <i class="mdi mdi-github mr-1"></i>
          <span>{{ "GitHub" | transloco }}</span>
        </div>
      </a>
    </div>
  </div>
  <div ngbDropdown
       display="dynamic"
       placement="bottom-right">
    <button class="btn btn-simple"
            ngbDropdownToggle>
      <i [class]="icons.user"></i>
    </button>
    <div ngbDropdownMenu>
      <div ngbDropdownItem
           disabled>
        <i class="mr-1"
           [class]="icons.user">
        </i>
        <span transloco="Logged in as {{ userId }}"></span>
      </div>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem
              (click)="onLogout()">
        <i class="mdi mdi-logout mr-1"></i>
        <span>{{ "Log out" | transloco }}</span>
      </button>
    </div>
  </div>
</div>
