@import 'src/scss/defaults/colors';
@import 'src/scss/defaults/fonts';
@import 'src/scss/defaults/variables';

.s3gw-login-page {
  background-color: $s3gw-color-cultured;

  .sidebar {
    background-color: $s3gw-color-cg-blue;
    color: $s3gw-color-cultured;
    max-width: 20rem;
    min-width: 20rem;

    .header {
      .title {
        font-family: $s3gw-font-family-headings;
        font-size: 2.5rem;
        font-weight: lighter;
      }
    }

    .footer {
      font-size: 0.75rem;
    }
  }

  .main {
    .header {
      height: $s3gw-site-header-height;
    }

    .content {
    }
  }
}
