@import 'styles.scss';

.s3gw-login-page {
  background-color: $s3gw-color-whitesmoke;

  .sidebar {
    background-color: $s3gw-color-dark-liver;
    color: $s3gw-color-white;
    max-width: 20rem;
    min-width: 20rem;

    .header {
      @extend .mb-auto;

      .title {
        font-family: $s3gw-font-family-headings;
        font-size: 2.5rem;
        font-weight: lighter;
      }
    }

    .footer {
      @extend .mb-3;

      font-size: 0.75rem;
    }
  }

  .main {
    .header {
      height: $s3gw-site-header-height;
    }

    .content {
    }
  }
}
