fastapi==0.95.0
pydantic==1.10.7
uvicorn==0.21.1
aioboto3==11.0.1

types-aioboto3
types-aiobotocore==2.5.0.post2
types-aiobotocore-s3==2.5.0.post1

# already a dependency of fastapi, but we are now explicitly using it.
anyio==3.6.2

# httpx is easier than aiohttp for what we want, so we'll bite the bullet of
# an additional dependency.
httpx==0.24.0
