@import 'src/scss/defaults';
@import 'src/scss/blockui';
@import 'src/scss/bootstrap';
@import 'src/scss/ngx-toastr';

html,
body {
  height: 100%;
}

body {
  background-color: $s3gw-color-body-background;
  color: $s3gw-color-dark-liver;
  font-family: $s3gw-font-family-sans-serif;
  margin: 0;
}

////////////////////////////////////////////////////////////////////////////////
// General
////////////////////////////////////////////////////////////////////////////////

.s3gw-color-danger {
  color: $s3gw-color-danger;
}

.s3gw-color-warning {
  color: $s3gw-color-warning;
}

.s3gw-color-info {
  color: $s3gw-color-info;
}

.s3gw-color-success {
  color: $s3gw-color-success;
}

.s3gw-color-background-pair-warning {
  color: $s3gw-color-white;
  background-color: $s3gw-color-warning;
}

.s3gw-color-background-pair-danger {
  color: $s3gw-color-white;
  background-color: $s3gw-color-danger;
}

.s3gw-color-background-pair-success {
  color: $s3gw-color-white;
  background-color: $s3gw-color-success;
}

.s3gw-text-no-overflow {
  overflow-x: hidden;
}

////////////////////////////////////////////////////////////////////////////////
// Cursors
.s3gw-cursor-pointer {
  cursor: pointer;
}
