@import 'src/scss/defaults';
@import 'src/scss/blockui';
@import 'src/scss/bootstrap';
@import 'src/scss/ngx-toastr';

html,
body {
  height: 100%;
}

body {
  background-color: $s3gw-color-body-background;
  color: $s3gw-color-gunmetal;
  font-family: $s3gw-font-family-sans-serif;
  margin: 0;
}

.s3gw-color-danger {
  color: $s3gw-color-danger;
}

.s3gw-color-warning {
  color: $s3gw-color-warning;
}

.s3gw-color-info {
  color: $s3gw-color-info;
}

.s3gw-color-theme-danger {
  color: $s3gw-color-white;
  background-color: $s3gw-color-danger;
}

.s3gw-color-theme-success {
  color: $s3gw-color-white;
  background-color: $s3gw-color-success;
}

.s3gw-text-no-overflow {
  overflow-x: hidden;
}

////////////////////////////////////////////////////////////////////////////////
// Page actions.
.s3gw-page-actions {
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .mb-3;

  // Place margin between action elements.
  > * {
    @extend .m-1;
  }

  button:not(.btn-primary):not(.btn-outline-primary) {
    @extend .btn-light;
  }
}
