@import 'theme';
@import 'scss/bootstrap';
@import 'scss/ngx-toastr';

html,
body {
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// General
////////////////////////////////////////////////////////////////////////////////

.s3gw-color-danger {
  color: var(--bs-danger);
}

.s3gw-color-warning {
  color: var(--bs-warning);
}

.s3gw-color-info {
  color: var(--bs-info);
}

.s3gw-color-success {
  color: var(--bs-success);
}

.s3gw-color-background-pair-warning {
  color: var(--bs-white);
  background-color: var(--bs-warning);
}

.s3gw-color-background-pair-danger {
  color: var(--bs-white);
  background-color: var(--bs-danger);
}

.s3gw-color-background-pair-success {
  color: var(--bs-white);
  background-color: var(--bs-success);
}

.s3gw-text-no-overflow {
  overflow-x: hidden;
}

////////////////////////////////////////////////////////////////////////////////
// Cursors
.s3gw-cursor-pointer {
  cursor: pointer;
}

////////////////////////////////////////////////////////////////////////////////
// Browser specific
input::-webkit-search-cancel-button,
input::-webkit-search-results-button {
  appearance: none;
}
