.login-page {
  .landscape {
    background-color: var(--bs-primary);
    background-image: url('^./assets/images/login-landscape.svg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
  }
}
